<%- include('../includes/head.ejs') %>
<%- include('../includes/nav.ejs') %>
    <div class="main">
        <% items.forEach(item => { %>
            <%= item.name %>:<%= item.price %><br />        
        <% }); %>
    </div>
<%- include('../includes/footer.ejs') %>